@import '.../../../../assets/scss/colors';

.checkbox {
  display: flex;
  color: color(common, primary);
  gap: 10px;
  align-items: center;
  input {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    outline: none;
    content: none;
    &::before {
      font-family: 'FontAwesome';
      content: '\f00c';
      font-size: 1.25rem;
      color: transparent !important;
      display: block;
      width: 1.25rem;
      height: 1.25rem;
      border: 2px solid #a7b7d8;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
    }
    &:checked::before {
      color: color(common, primary) !important;
    }
  }
  &__label {
    font-size: 0.875rem;
    line-height: 1;
  }
}
